# Importing libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import requests

In [3]:
import helper
# from week_helper import *

Warning - Certain functionality
             requires requests_html, which is not installed.

             Install using:
             pip install requests_html

             After installation, you may have to restart your Python session.

In [4]:
import factors
from factors import *

In [5]:
import importlib
importlib.reload(helper)
importlib.reload(factors)

# Data Collection and cleaning

In [6]:
# basic variables

start_date = '2000-01-01'
end_date = '2023-12-31' 
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

In [7]:
nse_tickers = pd.read_csv("C:/Users/satya/Downloads/ind_nifty500list (1).csv")['Symbol']
nse_tickers = nse_tickers.to_list()
for count in range(len(nse_tickers)):
    nse_tickers[count] = nse_tickers[count] + ".NS"
nse_tickers

['360ONE.NS',
 '3MINDIA.NS',
 'ABB.NS',
 'ACC.NS',
 'AIAENG.NS',
 'APLAPOLLO.NS',
 'AUBANK.NS',
 'AARTIIND.NS',
 'AAVAS.NS',
 'ABBOTINDIA.NS',
 'ACE.NS',
 'ADANIENSOL.NS',
 'ADANIENT.NS',
 'ADANIGREEN.NS',
 'ADANIPORTS.NS',
 'ADANIPOWER.NS',
 'ATGL.NS',
 'AWL.NS',
 'ABCAPITAL.NS',
 'ABFRL.NS',
 'AEGISLOG.NS',
 'AETHER.NS',
 'AFFLE.NS',
 'AJANTPHARM.NS',
 'APLLTD.NS',
 'ALKEM.NS',
 'ALKYLAMINE.NS',
 'ALLCARGO.NS',
 'ALOKINDS.NS',
 'ARE&M.NS',
 'AMBER.NS',
 'AMBUJACEM.NS',
 'ANANDRATHI.NS',
 'ANGELONE.NS',
 'ANURAS.NS',
 'APARINDS.NS',
 'APOLLOHOSP.NS',
 'APOLLOTYRE.NS',
 'APTUS.NS',
 'ACI.NS',
 'ASAHIINDIA.NS',
 'ASHOKLEY.NS',
 'ASIANPAINT.NS',
 'ASTERDM.NS',
 'ASTRAZEN.NS',
 'ASTRAL.NS',
 'ATUL.NS',
 'AUROPHARMA.NS',
 'AVANTIFEED.NS',
 'DMART.NS',
 'AXISBANK.NS',
 'BEML.NS',
 'BLS.NS',
 'BSE.NS',
 'BAJAJ-AUTO.NS',
 'BAJFINANCE.NS',
 'BAJAJFINSV.NS',
 'BAJAJHLDNG.NS',
 'BALAMINES.NS',
 'BALKRISIND.NS',
 'BALRAMCHIN.NS',
 'BANDHANBNK.NS',
 'BANKBARODA.NS',
 'BANKINDIA.NS',
 'MAHABANK.NS',
 'BATAINDIA.NS',
 'BAYERCROP.NS',
 'BERGEPAINT.NS',
 'BDL.NS',
 'BEL.NS',
 'BHARATFORG.NS',
 'BHEL.NS',
 'BPCL.NS',
 'BHARTIARTL.NS',
 'BIKAJI.NS',
 'BIOCON.NS',
 'BIRLACORPN.NS',
 'BSOFT.NS',
 'BLUEDART.NS',
 'BLUESTARCO.NS',
 'BBTC.NS',
 'BORORENEW.NS',
 'BOSCHLTD.NS',
 'BRIGADE.NS',
 'BRITANNIA.NS',
 'MAPMYINDIA.NS',
 'CCL.NS',
 'CESC.NS',
 'CGPOWER.NS',
 'CIEINDIA.NS',
 'CRISIL.NS',
 'CSBBANK.NS',
 'CAMPUS.NS',
 'CANFINHOME.NS',
 'CANBK.NS',
 'CAPLIPOINT.NS',
 'CGCL.NS',
 'CARBORUNIV.NS',
 'CASTROLIND.NS',
 'CEATLTD.NS',
 'CELLO.NS',
 'CENTRALBK.NS',
 'CDSL.NS',
 'CENTURYPLY.NS',
 'CENTURYTEX.NS',
 'CERA.NS',
 'CHALET.NS',
 'CHAMBLFERT.NS',
 'CHEMPLASTS.NS',
 'CHENNPETRO.NS',
 'CHOLAHLDNG.NS',
 'CHOLAFIN.NS',
 'CIPLA.NS',
 'CUB.NS',
 'CLEAN.NS',
 'COALINDIA.NS',
 'COCHINSHIP.NS',
 'COFORGE.NS',
 'COLPAL.NS',
 'CAMS.NS',
 'CONCORDBIO.NS',
 'CONCOR.NS',
 'COROMANDEL.NS',
 'CRAFTSMAN.NS',
 'CREDITACC.NS',
 'CROMPTON.NS',
 'CUMMINSIND.NS',
 'CYIENT.NS',
 'DCMSHRIRAM.NS',
 'DLF.NS',
 'DOMS.NS',
 'DABUR.NS',
 'DALBHARAT.NS',
 'DATAPATTNS.NS',
 'DEEPAKFERT.NS',
 'DEEPAKNTR.NS',
 'DELHIVERY.NS',
 'DEVYANI.NS',
 'DIVISLAB.NS',
 'DIXON.NS',
 'LALPATHLAB.NS',
 'DRREDDY.NS',
 'DUMMYSANOF.NS',
 'EIDPARRY.NS',
 'EIHOTEL.NS',
 'EPL.NS',
 'EASEMYTRIP.NS',
 'EICHERMOT.NS',
 'ELECON.NS',
 'ELGIEQUIP.NS',
 'EMAMILTD.NS',
 'ENDURANCE.NS',
 'ENGINERSIN.NS',
 'EQUITASBNK.NS',
 'ERIS.NS',
 'ESCORTS.NS',
 'EXIDEIND.NS',
 'FDC.NS',
 'NYKAA.NS',
 'FEDERALBNK.NS',
 'FACT.NS',
 'FINEORG.NS',
 'FINCABLES.NS',
 'FINPIPE.NS',
 'FSL.NS',
 'FIVESTAR.NS',
 'FORTIS.NS',
 'GAIL.NS',
 'GMMPFAUDLR.NS',
 'GMRINFRA.NS',
 'GRSE.NS',
 'GICRE.NS',
 'GILLETTE.NS',
 'GLAND.NS',
 'GLAXO.NS',
 'GLS.NS',
 'GLENMARK.NS',
 'MEDANTA.NS',
 'GPIL.NS',
 'GODFRYPHLP.NS',
 'GODREJCP.NS',
 'GODREJIND.NS',
 'GODREJPROP.NS',
 'GRANULES.NS',
 'GRAPHITE.NS',
 'GRASIM.NS',
 'GESHIP.NS',
 'GRINDWELL.NS',
 'GAEL.NS',
 'FLUOROCHEM.NS',
 'GUJGASLTD.NS',
 'GMDCLTD.NS',
 'GNFC.NS',
 'GPPL.NS',
 'GSFC.NS',
 'GSPL.NS',
 'HEG.NS',
 'HBLPOWER.NS',
 'HCLTECH.NS',
 'HDFCAMC.NS',
 'HDFCBANK.NS',
 'HDFCLIFE.NS',
 'HFCL.NS',
 'HAPPSTMNDS.NS',
 'HAPPYFORGE.NS',
 'HAVELLS.NS',
 'HEROMOTOCO.NS',
 'HSCL.NS',
 'HINDALCO.NS',
 'HAL.NS',
 'HINDCOPPER.NS',
 'HINDPETRO.NS',
 'HINDUNILVR.NS',
 'HINDZINC.NS',
 'POWERINDIA.NS',
 'HOMEFIRST.NS',
 'HONASA.NS',
 'HONAUT.NS',
 'HUDCO.NS',
 'ICICIBANK.NS',
 'ICICIGI.NS',
 'ICICIPRULI.NS',
 'ISEC.NS',
 'IDBI.NS',
 'IDFCFIRSTB.NS',
 'IDFC.NS',
 'IIFL.NS',
 'IRB.NS',
 'IRCON.NS',
 'ITC.NS',
 'ITI.NS',
 'INDIACEM.NS',
 'IBULHSGFIN.NS',
 'INDIAMART.NS',
 'INDIANB.NS',
 'IEX.NS',
 'INDHOTEL.NS',
 'IOC.NS',
 'IOB.NS',
 'IRCTC.NS',
 'IRFC.NS',
 'INDIGOPNTS.NS',
 'IGL.NS',
 'INDUSTOWER.NS',
 'INDUSINDBK.NS',
 'NAUKRI.NS',
 'INFY.NS',
 'INOXWIND.NS',
 'INTELLECT.NS',
 'INDIGO.NS',
 'IPCALAB.NS',
 'JBCHEPHARM.NS',
 'JKCEMENT.NS',
 'JBMA.NS',
 'JKLAKSHMI.NS',
 'JKPAPER.NS',
 'JMFINANCIL.NS',
 'JSWENERGY.NS',
 'JSWINFRA.NS',
 'JSWSTEEL.NS',
 'JAIBALAJI.NS',
 'J&KBANK.NS',
 'JINDALSAW.NS',
 'JSL.NS',
 'JINDALSTEL.NS',
 'JIOFIN.NS',
 'JUBLFOOD.NS',
 'JUBLINGREA.NS',
 'JUBLPHARMA.NS',
 'JWL.NS',
 'JUSTDIAL.NS',
 'JYOTHYLAB.NS',
 'KPRMILL.NS',
 'KEI.NS',
 'KNRCON.NS',
 'KPITTECH.NS',
 'KRBL.NS',
 'KSB.NS',
 'KAJARIACER.NS',
 'KPIL.NS',
 'KALYANKJIL.NS',
 'KANSAINER.NS',
 'KARURVYSYA.NS',
 'KAYNES.NS',
 'KEC.NS',
 'KFINTECH.NS',
 'KOTAKBANK.NS',
 'KIMS.NS',
 'LTF.NS',
 'LTTS.NS',
 'LICHSGFIN.NS',
 'LTIM.NS',
 'LT.NS',
 'LATENTVIEW.NS',
 'LAURUSLABS.NS',
 'LXCHEM.NS',
 'LEMONTREE.NS',
 'LICI.NS',
 'LINDEINDIA.NS',
 'LLOYDSME.NS',
 'LUPIN.NS',
 'MMTC.NS',
 'MRF.NS',
 'MTARTECH.NS',
 'LODHA.NS',
 'MGL.NS',
 'MAHSEAMLES.NS',
 'M&MFIN.NS',
 'M&M.NS',
 'MHRIL.NS',
 'MAHLIFE.NS',
 'MANAPPURAM.NS',
 'MRPL.NS',
 'MANKIND.NS',
 'MARICO.NS',
 'MARUTI.NS',
 'MASTEK.NS',
 'MFSL.NS',
 'MAXHEALTH.NS',
 'MAZDOCK.NS',
 'MEDPLUS.NS',
 'METROBRAND.NS',
 'METROPOLIS.NS',
 'MINDACORP.NS',
 'MSUMI.NS',
 'MOTILALOFS.NS',
 'MPHASIS.NS',
 'MCX.NS',
 'MUTHOOTFIN.NS',
 'NATCOPHARM.NS',
 'NBCC.NS',
 'NCC.NS',
 'NHPC.NS',
 'NLCINDIA.NS',
 'NMDC.NS',
 'NSLNISP.NS',
 'NTPC.NS',
 'NH.NS',
 'NATIONALUM.NS',
 'NAVINFLUOR.NS',
 'NESTLEIND.NS',
 'NETWORK18.NS',
 'NAM-INDIA.NS',
 'NUVAMA.NS',
 'NUVOCO.NS',
 'OBEROIRLTY.NS',
 'ONGC.NS',
 'OIL.NS',
 'OLECTRA.NS',
 'PAYTM.NS',
 'OFSS.NS',
 'POLICYBZR.NS',
 'PCBL.NS',
 'PIIND.NS',
 'PNBHOUSING.NS',
 'PNCINFRA.NS',
 'PVRINOX.NS',
 'PAGEIND.NS',
 'PATANJALI.NS',
 'PERSISTENT.NS',
 'PETRONET.NS',
 'PHOENIXLTD.NS',
 'PIDILITIND.NS',
 'PEL.NS',
 'PPLPHARMA.NS',
 'POLYMED.NS',
 'POLYCAB.NS',
 'POONAWALLA.NS',
 'PFC.NS',
 'POWERGRID.NS',
 'PRAJIND.NS',
 'PRESTIGE.NS',
 'PRINCEPIPE.NS',
 'PRSMJOHNSN.NS',
 'PGHH.NS',
 'PNB.NS',
 'QUESS.NS',
 'RRKABEL.NS',
 'RBLBANK.NS',
 'RECLTD.NS',
 'RHIM.NS',
 'RITES.NS',
 'RADICO.NS',
 'RVNL.NS',
 'RAILTEL.NS',
 'RAINBOW.NS',
 'RAJESHEXPO.NS',
 'RKFORGE.NS',
 'RCF.NS',
 'RATNAMANI.NS',
 'RTNINDIA.NS',
 'RAYMOND.NS',
 'REDINGTON.NS',
 'RELIANCE.NS',
 'RBA.NS',
 'ROUTE.NS',
 'SBFC.NS',
 'SBICARD.NS',
 'SBILIFE.NS',
 'SJVN.NS',
 'SKFINDIA.NS',
 'SRF.NS',
 'SAFARI.NS',
 'MOTHERSON.NS',
 'SANOFI.NS',
 'SAPPHIRE.NS',
 'SAREGAMA.NS',
 'SCHAEFFLER.NS',
 'SCHNEIDER.NS',
 'SHREECEM.NS',
 'RENUKA.NS',
 'SHRIRAMFIN.NS',
 'SHYAMMETL.NS',
 'SIEMENS.NS',
 'SIGNATURE.NS',
 'SOBHA.NS',
 'SOLARINDS.NS',
 'SONACOMS.NS',
 'SONATSOFTW.NS',
 'STARHEALTH.NS',
 'SBIN.NS',
 'SAIL.NS',
 'SWSOLAR.NS',
 'STLTECH.NS',
 'SUMICHEM.NS',
 'SPARC.NS',
 'SUNPHARMA.NS',
 'SUNTV.NS',
 'SUNDARMFIN.NS',
 'SUNDRMFAST.NS',
 'SUNTECK.NS',
 'SUPREMEIND.NS',
 'SUVENPHAR.NS',
 'SUZLON.NS',
 'SWANENERGY.NS',
 'SYNGENE.NS',
 'SYRMA.NS',
 'TV18BRDCST.NS',
 'TVSMOTOR.NS',
 'TVSSCS.NS',
 'TMB.NS',
 'TANLA.NS',
 'TATACHEM.NS',
 'TATACOMM.NS',
 'TCS.NS',
 'TATACONSUM.NS',
 'TATAELXSI.NS',
 'TATAINVEST.NS',
 'TATAMTRDVR.NS',
 'TATAMOTORS.NS',
 'TATAPOWER.NS',
 'TATASTEEL.NS',
 'TATATECH.NS',
 'TTML.NS',
 'TECHM.NS',
 'TEJASNET.NS',
 'NIACL.NS',
 'RAMCOCEM.NS',
 'THERMAX.NS',
 'TIMKEN.NS',
 'TITAGARH.NS',
 'TITAN.NS',
 'TORNTPHARM.NS',
 'TORNTPOWER.NS',
 'TRENT.NS',
 'TRIDENT.NS',
 'TRIVENI.NS',
 'TRITURBINE.NS',
 'TIINDIA.NS',
 'UCOBANK.NS',
 'UNOMINDA.NS',
 'UPL.NS',
 'UTIAMC.NS',
 'UJJIVANSFB.NS',
 'ULTRACEMCO.NS',
 'UNIONBANK.NS',
 'UBL.NS',
 'UNITDSPR.NS',
 'USHAMART.NS',
 'VGUARD.NS',
 'VIPIND.NS',
 'VAIBHAVGBL.NS',
 'VTL.NS',
 'VARROC.NS',
 'VBL.NS',
 'MANYAVAR.NS',
 'VEDL.NS',
 'VIJAYA.NS',
 'IDEA.NS',
 'VOLTAS.NS',
 'WELCORP.NS',
 'WELSPUNLIV.NS',
 'WESTLIFE.NS',
 'WHIRLPOOL.NS',
 'WIPRO.NS',
 'YESBANK.NS',
 'ZFCVINDIA.NS',
 'ZEEL.NS',
 'ZENSARTECH.NS',
 'ZOMATO.NS',
 'ZYDUSLIFE.NS',
 'ECLERX.NS']

In [8]:
price_data = yf.download(nse_tickers , start_date, end_date)
price_data = price_data['Adj Close']
price_data = price_data.dropna(axis=1, how='all')

[*********************100%%**********************]  502 of 502 completed

3 Failed downloads:
['AEGISLOG.NS', 'UNITDSPR.NS']: YFChartError("%ticker%: Data doesn't exist for startDate = 946665000, endDate = 1703961000")
['DUMMYSANOF.NS']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')

In [12]:
nse_stocks_data = clean_data(price_data, date_range)

In [13]:
symbols = list(nse_stocks_data.keys())

In [22]:
period = 'W'
time = 'training'

# Calculations

In [23]:
returns_df = calculate_returns(nse_stocks_data, rebalance=period)

In [24]:
returns_df

,2000-01-02,2000-01-09,2000-01-16,2000-01-23,2000-01-30,2000-02-06,2000-02-13,2000-02-20,2000-02-27,2000-03-05,...,2023-10-29,2023-11-05,2023-11-12,2023-11-19,2023-11-26,2023-12-03,2023-12-10,2023-12-17,2023-12-24,2023-12-31
Ticker,,,,,,,,,,,,,,,,,,,,,
360ONE.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.316265,2.957744,0.681644,-0.622147,7.862288,10.541128,3.459210,-1.798644,7.896335,NaN
3MINDIA.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.083726,0.859404,-3.804422,-0.106073,2.516881,1.258505,-0.910578,-0.035428,19.649626,NaN
AARTIIND.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.599381,10.986864,3.051948,0.892260,4.111390,2.900782,3.837707,1.243233,8.528939,NaN
AAVAS.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.777621,0.754484,-1.671257,2.848935,-4.025448,4.573028,3.702342,-4.281607,3.533907,NaN
ABB.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.966574,1.722847,1.079196,-0.529748,2.930306,8.195341,1.860197,-1.573900,-1.768235,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZEEL.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.495683,-9.571374,-1.144805,2.742787,5.418225,4.652045,-0.483960,-3.620324,2.672407,NaN
ZENSARTECH.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.697704,-4.714737,8.617461,3.282602,-0.843216,-0.364451,11.348711,4.455871,-1.516000,NaN
ZFCVINDIA.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.177582,2.830009,-0.618463,-2.368291,1.540227,-1.680999,-1.032833,-1.102816,3.027053,NaN
ZOMATO.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.269757,4.120174,0.741957,-7.324057,2.693159,3.138430,3.042936,3.964403,-3.735411,NaN
ZYDUSLIFE.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.704203,5.992995,2.685918,0.526276,-0.031258,-0.179774,1.151047,5.271712,1.360395,NaN

In [25]:
if time == 'training':
    returns_df = returns_df.loc[:, (returns_df.columns > '2005')& (returns_df.columns < '2019')]
elif time == 'testing':
    returns_df = returns_df.loc[:,returns_df.columns > '2019']

In [26]:
'''
A dictionary to store the return%. 
The strategy name is the key and the return-df is value
'''
strategy_returns_ls = {}

In [27]:
months = [12]
pct = [50]

In [28]:
for m in months:
    momentum = calculate_m_momentum(nse_stocks_data, m)
     
    for p in pct:
        strategy = f'{m}_momentum_{p}'
        momentum_long(nse_stocks_data, momentum, returns_df, p,  strategy= strategy, strategy_returns=strategy_returns)

### Momentum

In [29]:
for m in months:
    momentum = calculate_m_momentum(nse_stocks_data, m, resample=period)
    # if time == 'training':
    #     momentum = momentum.loc[:, (momentum.columns > '2005') & (momentum.columns < '2019')]
    # elif time == 'testing':
    #     momentum = momentum.loc[:,momentum.columns > '2019']
    for p in pct:
        strategy = f'{m}_momentum_ls_{p}'
        momentum_long_sort(nse_stocks_data, momentum, returns_df, p, p, strategy, strategy_returns=strategy_returns_ls)

In [30]:
strategy_returns_ls['12_momentum_ls_50'].rename({0:'12_momentum_ls_50'}, axis=1, inplace=True)

### 12-1 momentum

In [31]:
momentum_df = calculate_12_1_momentum(nse_stocks_data, resample=period)

In [32]:
if time == 'training':
    returns_df = returns_df.loc[:, (returns_df.columns > '2005')& (returns_df.columns < '2019')]
elif time == 'testing':
    momentum_df = momentum_df.loc[:, momentum_df.columns > '2019']

In [34]:
for p_top in pct:
    momentum_12_1_ls(nse_stocks_data, momentum_df, returns_df, p_top, strategy_returns=strategy_returns_ls)

In [35]:
strategy_returns_ls['12_1_momentum_ls_50'].rename({0:'12_1_momentum_ls_50'}, axis=1, inplace=True)

### REVERSION

In [37]:
momentum_rev = calculate_m_momentum(nse_stocks_data, 1, resample = period)

In [38]:
momentum_rev

,2000-02-06,2000-02-13,2000-02-20,2000-02-27,2000-03-05,2000-03-12,2000-03-19,2000-03-26,2000-04-02,2000-04-09,...,2023-10-29,2023-11-05,2023-11-12,2023-11-19,2023-11-26,2023-12-03,2023-12-10,2023-12-17,2023-12-24,2023-12-31
Ticker,,,,,,,,,,,,,,,,,,,,,
360ONE.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.401532,4.609004,1.665627,1.998295,4.370580,11.113942,19.298074,22.589222,21.137934,21.176172
3MINDIA.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-6.383883,0.446228,2.408670,0.879620,1.846487,-0.641282,-0.248120,2.752707,2.825375,20.009675
AARTIIND.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7.753359,-5.740898,5.164076,11.469692,17.240241,20.138965,11.386095,12.235400,12.625833,17.404657
AAVAS.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-11.036053,-15.510549,-11.306002,-9.217185,-3.993920,-2.208577,1.497668,7.044447,-0.376971,7.469753
ABB.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.189961,0.832302,0.238803,6.718054,6.332797,5.272944,11.971325,12.836486,11.652027,6.555359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZEEL.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-5.821204,5.620562,-3.657120,-5.889099,1.485054,-3.178351,12.050619,12.799675,5.813716,3.057597
ZENSARTECH.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-6.812911,-4.790644,-11.540226,2.150740,11.915364,5.992464,10.831591,13.618516,14.909199,14.129534
ZFCVINDIA.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.298282,6.113226,1.929125,3.300202,-0.049028,1.310535,-3.133817,-3.537699,-2.287382,-0.856603
ZOMATO.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.088671,11.536624,9.279282,7.807674,7.193562,-0.171671,-1.112948,1.145664,13.465784,6.362849
ZYDUSLIFE.NS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-6.495942,-3.130443,4.721677,9.958546,11.277292,9.378478,3.008546,1.468853,6.258784,7.738000

In [39]:
if time == 'training':
    momentum_rev = momentum_rev.loc[:, (momentum_rev.columns>'2005') & (momentum_rev.columns<'2019')]
elif time == 'testing':
    momentum_rev = momentum_rev.loc[:, momentum_rev.columns>'2019']

In [40]:
for p_long in pct:
        strategy = f'Reversal_ls_{p_long}'
        reversion_long_sort(nse_stocks_data, momentum_rev, returns_df, p_long, p_long, strategy=strategy, strategy_returns=strategy_returns_ls)

In [41]:
strategy_returns_ls['Reversal_ls_50']

            Reversal_ls_50
2002-11-03   -2.414466e-16
2006-04-02   -2.378386e-16
2012-04-01    5.405006e-01
2014-04-06   -5.739847e-01
2015-12-20    3.520584e-02
...                    ...
2005-01-30   -4.986265e-16
2005-11-20   -2.429206e-16
2011-05-29    2.199916e-03
2017-06-11    1.409221e-01
2022-10-16    1.709219e-01

[1248 rows x 1 columns]

### SEASONALITY

3 years seasonality

In [45]:
strategy = f'3_yr_seasonality_2_ls'
seasonality_ls(stocks_data=nse_stocks_data, return_df=returns_df, strategy_returns=strategy_returns_ls, rebalance=period, y=3, m = 2, n=2, strategy= strategy, )

In [46]:
(sorted(strategy_returns_ls['3_yr_seasonality_2_ls'].items()))

[('3_yr_seasonality_2_ls',
  2002-11-03   -1.336123
  2006-04-02    0.326117
  2012-04-01    1.642798
  2014-04-06   -1.418293
  2012-08-05    0.027306
                  ...
  2005-01-30   -0.112372
  2005-11-20    1.168475
  2011-05-29    0.462248
  2017-06-11   -0.261749
  2022-10-16    0.456048
  Name: 3_yr_seasonality_2_ls, Length: 1148, dtype: float64)]

5-years

In [49]:
times = [3]
for m in times:
    strategy = f'5_yr_seasonality_{m}_ls'
    seasonality_ls(nse_stocks_data, returns_df, strategy_returns=strategy_returns_ls, rebalance=period, y=5, m = m, n=m, strategy= strategy, )

In [50]:
dict(sorted(strategy_returns_ls['3_yr_seasonality_2_ls'].items()))

{'3_yr_seasonality_2_ls': 2002-11-03   -1.336123
 2006-04-02    0.326117
 2012-04-01    1.642798
 2014-04-06   -1.418293
 2012-08-05    0.027306
                 ...
 2005-01-30   -0.112372
 2005-11-20    1.168475
 2011-05-29    0.462248
 2017-06-11   -0.261749
 2022-10-16    0.456048
 Name: 3_yr_seasonality_2_ls, Length: 1148, dtype: float64}

### VALUE

In [93]:
strategy = 'Value_15_85'
price_strategy_ls(nse_stocks_data, returns_df, 15, 85, strategy, strategy_returns=strategy_returns_ls)

In [53]:
strategy = 'Value_25_75'
price_strategy_ls(nse_stocks_data, returns_df, 75, 25, strategy, strategy_returns=strategy_returns_ls)

In [94]:
strategy_returns_ls['Value_15_85'] = strategy_returns_ls['Value_15_85'][strategy_returns_ls['Value_15_85'].index > '2006']

In [95]:
strategy_returns_ls['Value_15_85']

            Value_15_85
2006-04-02     1.265964
2012-04-01    -0.053887
2014-04-06     1.393279
2012-08-05     0.439955
2015-12-20    -0.110625
...                 ...
2011-07-24     0.244275
2018-04-29    -0.099396
2011-05-29    -0.262511
2017-06-11     0.035053
2022-10-16     0.189352

[939 rows x 1 columns]

### VOL

In [55]:
def calculate_vol(return_data, y=1):
    volatility = return_data.T.rolling(window=52*y).std()
    volatility = volatility * np.sqrt(52)
    
    return volatility.T.dropna(axis=1, how='all')

In [56]:
vol_df = calculate_vol(returns_df)
top = top_p_percentage_stocks(vol_df, 33)
btm = bottom_p_percentage_stocks(vol_df, 33)
ret = portfolio_return(returns_df, top, btm)

In [57]:
strategy_returns_ls['1_year_vol_ls_33']  = pd.DataFrame.from_dict(dict(sorted(ret.items())), orient='index', columns=['1_year_vol_ls_33'])

In [58]:
vol_df = calculate_vol(returns_df)
top = top_p_percentage_stocks(vol_df, 50)
btm = bottom_p_percentage_stocks(vol_df, 50)
ret = portfolio_return(returns_df, top, btm)
strategy_returns_ls['1_year_vol_ls_50']  = pd.DataFrame.from_dict(dict(sorted(ret.items())), orient='index', columns=['1_year_vol_ls_50'])

In [83]:
strategy_returns_ls['1_year_vol_ls_50'] = strategy_returns_ls['1_year_vol_ls_50'][strategy_returns_ls['1_year_vol_ls_50'].index > '2006']

In [84]:
strategy_returns_ls['1_year_vol_ls_50']

            1_year_vol_ls_50_1_year_vol_ls_50
2006-01-08                       3.102807e-17
2006-01-15                      -3.102807e-17
2006-01-22                       7.446736e-16
2006-01-29                       0.000000e+00
2006-02-05                       0.000000e+00
...                                       ...
2023-11-26                       2.764755e-01
2023-12-03                       2.513326e-01
2023-12-10                       8.031745e-01
2023-12-17                      -1.111177e-01
2023-12-24                      -3.774920e-02

[938 rows x 1 columns]

# METRICES

In [96]:
for key in strategy_returns_ls.keys():
    print(calculate_overall_cagrs(strategy_returns_ls[key], period))
    print(calculate_overall_sharpe_ratios(strategy_returns_ls[key], period))
    print('-----------------------------------------------------------')
#     strategy_returns_ls[key].sort_index()
# # Join the dataframes based on their date index
# strategies = pd.concat(strategy_returns_ls.values(), axis=1)

12_momentum_ls_50_12_momentum_ls_50    1.56
Name: CAGR, dtype: float64
12_momentum_ls_50_12_momentum_ls_50    0.64
Name: Sharpe Ratio, dtype: float64
-----------------------------------------------------------
12_1_momentum_ls_50_12_1_momentum_ls_50    1.83
Name: CAGR, dtype: float64
12_1_momentum_ls_50_12_1_momentum_ls_50    0.78
Name: Sharpe Ratio, dtype: float64
-----------------------------------------------------------
Reversal_ls_50_Reversal_ls_50    0.39
Name: CAGR, dtype: float64
Reversal_ls_50_Reversal_ls_50    0.2
Name: Sharpe Ratio, dtype: float64
-----------------------------------------------------------
3_yr_seasonality_2_ls_3_yr_seasonality_2_ls    5.96
Name: CAGR, dtype: float64
3_yr_seasonality_2_ls_3_yr_seasonality_2_ls    0.61
Name: Sharpe Ratio, dtype: float64
-----------------------------------------------------------
5_yr_seasonality_3_ls_5_yr_seasonality_3_ls    6.01
Name: CAGR, dtype: float64
5_yr_seasonality_3_ls_5_yr_seasonality_3_ls    0.59
Name: Sharpe Ratio, dtype: float64
-----------------------------------------------------------
Value_15_85    8.81
Name: CAGR, dtype: float64
Value_15_85    0.97
Name: Sharpe Ratio, dtype: float64
-----------------------------------------------------------
Value_25_75_Value_25_75    22.79
Name: CAGR, dtype: float64
Value_25_75_Value_25_75    1.27
Name: Sharpe Ratio, dtype: float64
-----------------------------------------------------------
1_year_vol_ls_33_1_year_vol_ls_33    5.85
Name: CAGR, dtype: float64
1_year_vol_ls_33_1_year_vol_ls_33    0.95
Name: Sharpe Ratio, dtype: float64
-----------------------------------------------------------
1_year_vol_ls_50_1_year_vol_ls_50    3.56
Name: CAGR, dtype: float64
1_year_vol_ls_50_1_year_vol_ls_50    0.95
Name: Sharpe Ratio, dtype: float64
-----------------------------------------------------------

In [97]:
for strategy, df in strategy_returns_ls.items():
    df.columns = [f'{strategy}_{col}' for col in df.columns]

# Combine all DataFrames into a single DataFrame
df = pd.concat(strategy_returns_ls.values(), axis=1)

In [98]:
df

,12_momentum_ls_50_12_momentum_ls_50_12_momentum_ls_50,12_1_momentum_ls_50_12_1_momentum_ls_50_12_1_momentum_ls_50,Reversal_ls_50_Reversal_ls_50_Reversal_ls_50,3_yr_seasonality_2_ls_3_yr_seasonality_2_ls_3_yr_seasonality_2_ls,5_yr_seasonality_3_ls_5_yr_seasonality_3_ls_5_yr_seasonality_3_ls,Value_15_85_Value_15_85,Value_25_75_Value_25_75_Value_25_75,1_year_vol_ls_33_1_year_vol_ls_33_1_year_vol_ls_33,1_year_vol_ls_50_1_year_vol_ls_50_1_year_vol_ls_50
2000-02-06,NaN,NaN,4.934325e-17,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-13,NaN,NaN,1.973730e-16,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-20,NaN,NaN,2.631640e-16,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-27,NaN,NaN,5.263280e-16,NaN,NaN,NaN,NaN,NaN,NaN
2000-03-05,NaN,NaN,2.105312e-15,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-12-03,-0.281173,-0.287391,3.113359e-01,0.378977,0.730294,0.775021,1.570643,0.740202,0.251333
2023-12-10,0.753410,0.639105,-5.155169e-01,-0.296507,0.109949,1.400203,2.390065,0.853842,0.803175
2023-12-17,-0.117959,-0.039171,2.251438e-01,0.367402,0.392260,-0.218205,-0.181255,-0.409124,-0.111118
2023-12-24,-0.095929,-0.023050,-2.362830e-01,1.844929,1.774081,1.256420,2.149214,-0.062016,-0.037749
2023-12-31,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,NaN,NaN

In [107]:
cagrs = calculate_overall_cagrs(df, 'W')

12_momentum_ls_50_12_momentum_ls_50_12_momentum_ls_50                 1.89
12_1_momentum_ls_50_12_1_momentum_ls_50_12_1_momentum_ls_50           2.22
Reversal_ls_50_Reversal_ls_50_Reversal_ls_50                          0.50
3_yr_seasonality_2_ls_3_yr_seasonality_2_ls_3_yr_seasonality_2_ls     6.75
5_yr_seasonality_3_ls_5_yr_seasonality_3_ls_5_yr_seasonality_3_ls     6.59
Value_15_85_Value_15_85                                               8.32
Value_25_75_Value_25_75_Value_25_75                                  20.10
1_year_vol_ls_33_1_year_vol_ls_33_1_year_vol_ls_33                    6.53
1_year_vol_ls_50_1_year_vol_ls_50_1_year_vol_ls_50                    3.36
Name: CAGR, dtype: float64

In [ ]:
sr = calculate_overall_sharpe_ratios(df, 'W')

# Plots

In [ ]:
import plotly.graph_objs as go
import plotly.express as px

def calculate_cumulative_returns(df):
    cumulative_returns_df = (1 + df / 100).cumprod()
    return cumulative_returns_df

def plot_strategy_performance(strategy_df):
    # Ensure the index is a datetime index
    strategy_df.index = pd.to_datetime(strategy_df.index)
    
    # Calculate cumulative returns
    cumulative_returns_df = calculate_cumulative_returns(strategy_df)
    
    # Create the plot
    fig = go.Figure()

    # Add traces for each strategy
    for strategy in cumulative_returns_df.columns:
        fig.add_trace(go.Scatter(
            x=cumulative_returns_df.index,
            y=cumulative_returns_df[strategy],
            mode='lines',
            name=strategy
        ))
    
    # Add titles and labels
    fig.update_layout(
        title='Cumulative Returns of Strategies',
        xaxis_title='Date',
        yaxis_title='Cumulative Return',
        legend_title='Strategies'
    )

    # Show the plot
    fig.show()

plot_strategy_performance(df)

In [87]:
import matplotlib.pyplot as plt
import pandas as pd

def calculate_cumulative_returns(df):
    """Calculate cumulative returns from percentage returns."""
    cumulative_returns_df = (1 + df / 100).cumprod()
    return cumulative_returns_df

def plot_strategy_performance(strategy_df):
    # Ensure the index is a datetime index
    strategy_df.index = pd.to_datetime(strategy_df.index)
    
    # Sort the DataFrame by the index (dates)
    strategy_df = strategy_df.sort_index()
    
    # Calculate cumulative returns
    cumulative_returns_df = calculate_cumulative_returns(strategy_df)
    
    # Plot each strategy individually
    for strategy in cumulative_returns_df.columns:
        plt.figure(figsize=(12, 8))
        
        # Plot cumulative returns
        plt.plot(cumulative_returns_df.index, cumulative_returns_df[strategy], label=strategy)
        
        # Annotate the final cumulative return
        final_return = cumulative_returns_df[strategy].iloc[-1]
        plt.text(cumulative_returns_df.index[-1], final_return, f'{final_return:.2%}', 
                 fontsize=12, ha='left', va='center')
        
        # Only show left and bottom axes
        plt.gca().spines['top'].set_visible(False)
        plt.gca().spines['right'].set_visible(False)
        
        # Set axis labels and title
        plt.xlabel('Date', fontsize=14)
        plt.ylabel('Cumulative Return', fontsize=14)
        plt.title('Cumulative Return ', fontsize=16)
                
        # Display the plot
        plt.show()

In [101]:
df.fillna(0, inplace=True)

In [ ]:
plot_strategy_performance(df)